<div class="callout">
  <div class="row text-center">
    <% @simple_forecast.each do |forecast| %>
      <div class="small-2 large-3 columns">
        <strong><%= forecast[:date] %></strong>
        <p class="temp-display">High: <%= forecast[:high] %>˚F</p><br>
        <p class="temp-display">Low: <%= forecast[:low] %>˚F</p>
      </div>
    <% end %>

  </div>
  <small><%= (@forecast.created_at - 14400).strftime "as of %I:%M%P %m/%d EST" %></small>
</div>
